<blockquote>
    <p>Free writing is a prewriting technique in which a person writes continuously for a set period of time without regard to spelling, grammar, or topic.</p>
    <p>Unlike brainstorming where ideas are simply listed, in freewriting one writes sentences to form a paragraph about whatever comes to mind.</p>
    <small><cite title="Source Title"><%= link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/Free_writing'%></cite></small>
</blockquote>

<hr />

<h2>Tips</h2>
<dl class="dl-horizontal">
    <dt>Before new post</dt>
    <dd>Let your brain prepare itself to dump its contents on a post.</dd>
    <dt>Mind wandering</dt>
    <dd>Your hands are controlled by only whatever you are thinking.</dd>
    <dt>No right or wrong way</dt>
    <dd>Don't worry about spelling or grammar. Just keep typing. You are not allowed to edit your text (see below).</dd>
    <dt>What to write</dt>
    <dd>Simple everything that your brain thinks about, you type it. If you don't know what to write, just type it: <em>I don't know what to write</em>. Keep typing this sentence. After a while your brain will start to think about something.</dd>
</dl>
<h2>Rules</h2>
<dl class="dl-horizontal">
    <dt>Keep typing</dt>
    <dd>As soon as you stop writing, your post will be published.</dd>
    <dt>Short period</dt>
    <dd>When you start typing, a timer will start. When the timer ends, your post will be published.</dd>
    <dt>Lights off</dt>
    <dd>When create a new post, a single text area will appear waiting for you. All the other elements of Red Pencil such as the headers will be hidden. This way you can focus in only one task: dumping your brain.</dd>
    <dt>Enter and Tab keys</dt>
    <dd>When typing, Enter key will insert a new line whereas Tab key will be disabled to avoid any accidental focus loss.</dd>
    <dt>No editing</dt>
    <dd>The backspace key is disabled when you type a new post. Once published, post's content can't be edited.</dd>
    <dt>Content</dt>
    <dd>You can freely type whatever you want. However, it's bad idea to think about passwords and type them. Any prohibited content will be deleted without notice. And you know what prohibited content means.</dd>
    <dt>Privacy</dt>
    <dd>All posts are private. You need to be the author to display them. If you are not happy with a post, delete it.</dd>
</dl>