<div class="jumbotron">
    <h1>Freewriting</h1>
    <p class="lead">How much will you type before the time runs out and your post gets published?</p>
    <%= link_to 'Try it now!', new_post_path(:demo => "1"), :class => 'btn btn-large btn-success' %>
    
</div>

<hr />

<div class="row-fluid marketing">
    <div class="span6">
        <h4><i class="icon-pencil icon-white"></i> Free writing</h4>
        <p><%= link_to 'Free writing', 'http://en.wikipedia.org/wiki/Free_writing'%> is the activity of writing without stoping during a period of time.</p>

        <h4><i class="icon-user icon-white"></i> Account</h4>
        <p>We hate tracking account passwords as much as you do. That's why you just need an email to use this website. No password needed. Don't worry, we will not sell or give your email address to anyone.</p>
    </div>

    <div class="span6">
        <h4><i class="icon-heart icon-white"></i> Benefits</h4>
        <p>Redpencil provides you a place to dump everything you have in your head. Your brain will thank you to let him relax.</p>

        <h4><i class="icon-gift icon-white"></i> Free</h4>
        <p>Yep, as in free beer.</p>
        
    </div>
</div>