<h2>Your Post</h2>
<p>
    Here is your post
</p>
<%= render 'display_post'%>
<p>This was a demo of Freewriting! We hope you enjoyed it!</p>
<p>Don't be shy! Create an account and you will be able to save and manage your posts.</p>